
.container{
    width: 1000px;
    margin: auto;
    padding: 20px;
}

table{
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

tr{
    width: 33%;
    text-align: left;
    border: 1px solid #000000;
}

td{
    padding: 5px 2px;
    border: 1px solid #000000;
}

