
.container{
    width: 1000px;
    margin: auto;
    padding: 20px;
}

input{
    size: 25ch;
}

.outputData{
    padding: 15px 0px;
}

h3{
    text-align: center;
}

p{
    padding: 10px 0px;
}

img{
    border: 2px solid red;
}